body {
    background-color: hsl(85, 50%, 56%);
    font-family:Arial, Helvetica, sans-serif;
}

p {
    font-family: helvetica;
    font-weight: 350;
}

h1 {
    text-align:center;
    color: rgb(10, 27, 10);
    font-size:450%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 570;
    margin-top: 20px;
    margin-bottom: 50px;
}

.nav-link {
    margin-right: 30px;
}



